button, .button, .btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 200px;
  height: 2em;
  min-width: 100px;
  outline: none;
  border: solid transparent 2px;
  background-color: $color-ellen-dark;
  color: $color-white;
  border-radius: $border-radius;
  @extend %heading-font-family;
  font-size: rem-calc(16px);
  margin-top: 20px;

  &:hover {
    background-color: $color-ellen-brand-bright;
    color: $color-ellen-dark;
    border: solid $color-ellen-dark 2px;
  }

  &:disabled {
    opacity: 0.5;
    cursor: auto;
    pointer-events: none;
  }
}