button, .button, .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 200px;
  height: 2em;
  min-width: 100px;
  outline: none;
  border: solid $color-black 2px;
  background-color: $color-ellen-brand;
  color: $color-black;
  border-radius: $border-radius;
  @extend %heading-font-family;
  font-size: rem-calc(16px);
  margin-top: 20px;
}