footer {
  background-color: $color-ellen-dark;
  width: 100%;
  display: flex;
  margin-top: auto;

  img {
    max-width: 100px;
    max-height: 100%;
  }
  color: $color-white;
  display: flex;
  justify-content: space-evenly;
  height: 45px;
  align-items: center;
}