footer {
  background-color: $color-ellen-brand;
  width: 100%;
  display: flex;
  color: $color-white;
  display: flex;
  height: 65px;
  margin-top: auto;
  align-items: center;

  justify-content: flex-start;
    * {
      margin: 0 10px;
    }

  img {
    height: 20px;
  }

  a, .small-label {
    color: $color-ellen-brand-dark;
    display: flex;
  }

  .small-label {
    width: auto;
  }
}