footer {
  background-color: $color-ellen-brand;
  width: 100%;
  display: flex;
  color: $color-white;
  display: flex;
  justify-content: space-evenly;
  height: 65px;
  align-items: center;
  margin-top: auto;

  img {
    height: 20px;
  }
}