// colours
$color-white: #ffffff;
$color-black: #000000;
$color-ellen-dark: #373737;
$color-ellen-brand: #FFF6A8;
$color-ellen-light-gray: #F9F9F9;
$color-ellen-dark-gray: #C0B8B8;
$color-ellen-brand-bright: #FAFF00;
$color-ellen-brand-dark: #0d139c;

// global variables
$mobile-padding: 15px;
$border-radius: 5px;

// fonts
@import './fonts';
@import './components/.components';
@import 'footer';

body, html {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  padding: 0em;
  margin: 0em;
  text-align: center;

  * {
    box-sizing: border-box;
  }
}

